body {
  background-color: aliceblue;
}

#sudokuGrid {
	border: 2px solid black;
	width: fit-content;
}

.row {
	display: flex;
	flex-direction: row;
}

.square {
	width: 40px;
	height: 40px;
	padding: 10px;
	border: 1px solid grey;
	background-color: white;
}

.rightBorder {
	border-right: 3px solid black;
}

.bottomBorder {
	border-bottom: 3px solid black;
}