
<html> 
<head> 
    <title>Sudoku</title>
	<link rel="stylesheet" href="/css/gridStyling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head> 
<body> 
    <h1>Sudoku solver</h1>
    <div id = "sudokuGrid"></div>
    <button id = "solveButton">Solve</button>
    <script src = "js/gridGenerator.js" ></script>
    <script src = "js/solveButton.js"></script>
    <br>
    <h3>Enter values into the board above or paste in a comma separated list of values below</h3>
    <form>
    	<input type = "text">
    	<input type = "button" id = "setButton" value = "set sudoku">
    </form>
</body> 
</html> 