
<html> 
<head> 
    <title>Sudoku</title>
	<link rel="stylesheet" href="/css/gridStyling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head> 
<body> 
    <h1>Sudoku solver</h1>
    <div id = "sudokuGrid"></div>
    <button id = "solveButton">Solve</button>
    <script src = "js/gridGenerator.js" ></script>
    <script src = "js/solveAndSetButton.js"></script>
    <br>
    <h3>Enter values into the board above or paste in a comma separated list of values below</h3>
    <h3>Refresh the page to clear</h3>
    <h5>If the sudoku is not solved on the first attempt, click solve again. If no more progress is made, then the current logic of this 
    solver is not enough, please wait for an update or solve it manually. </h5>
    <div>Commas and numbers only</div>
    <input type = "text" id = "setInput">
    <input type = "button" id = "setButton" value = "set sudoku">
    <br>
    <h3>Example sudokus</h3>
    <p>Copy and paste these into set sudoku box</p>
    <p>very easy</p>
    <p>8, 2, 7, 1, 5, , 3, 9, 6, 9, , 5, 3, 2, 7, 1, 4, , 3, 4, 1, 6, , 9, 7, , 2, 5, , 3, , 6, 8, 2, 7, , , 7, 2, 5, , , 6, 8, 9, , 1, , , 7, 2, , 3, 5, 7, 8, , 2, , 5, , 1, 4, 1, 5, , 7, , 6, , 2, 3, 2, 3, 9, 8, 4, 1, 5, 6,</p>
    <p>easy</p>
    <p>, , 4, 6, 9, , 7, 3, 1, , , , , 5, , 8, , , , , 9, 1, , , , 4, 2, , 4, , , 1, 9, , 6, , , , , 3, , 6, , , , , 1, , 7, 4, , , 2, , 1, 8, , , , 7, 6, , , , , 7, , 6, , , , , 3, 5, 6, , 8, 4, 1, , </p>
    <p>Hard</p>
    <p>, 4, , 2, , 1, , 6, , , , , , , , , , , 9, , 5, , , , 3, , 7, , , , , , , , , , 5, , 7, , 8, , 1, , 4, , 1, , , , , , 9, , , , 1, , , , 6, , , , , , 7, , 5, , , , 6, , 8, 9, , 4, 5, , 3</p>
</body> 
</html> 